<div class="container mt-5" style="max-width: 800px;text-align: center;"></div>
<main>
    <div class="card " style="width: 18rem;">
        <div class="card-body " style="align-items: center;">
            <h5 class="card-title">User</h5>
            <h6 class="card-subtitle mb-2 text-muted">First Name :<%=users.fname%>
            </h6>
            <h6 class="card-subtitle mb-2 text-muted">Last Name :<%=users.lname%>
            </h6>
            <p class="card-text">Introduction :<%=users.introduction%>
            </p>
            <p class="card-text">Email :<%=users.email%>
            </p>
            <p class="card-text">Introduction :<%=users.introduction%>
            </p>
            <p class="card-text">Experience :<%=users.experience%>
            </p>
            <p class="card-text">Achievements :<%=users.achievements%>
            </p>
            <a href="/users" class="card-link">Back to list</a>

        </div>
    </div>
</main>
</div>